body{
    font-family: Roboto;
}


.bloque_encabezado{
    width:20%;
    
}

.encabezado{
    display: inline;
    width:100%;
    text-align:center;
    background-color: yellow
}
div.inline{ 
    float:left; 
}

div.inline_vertical{
    display: inline 
}

#contenido{
    background-color: white;
}

section.inline{
    display: inline;
}

#user{
    width: 80px;
    height: 80px;
    margin: 20px 10px 10px 20px;
}
#nombre_completo{
    font-style: initial;
    font-size: 30px;
}


#matricula{
    color:orange;
}

#salir{
    margin-bottom: 10px;
    background:blue; /*color de fondo*/
    color:white; /*color de texto*/
    padding: 7px 30px;
    border: 1px;
}

header{
    background:yellow ;
}


#barra{
    background:blue ;
    display:inline-block;
    width:100%;
    margin-bottom: 10px;
    border: 1px;
    text-align:center;
    color: white;
    height: 50px;
    font-size: 18px;
    padding-top: 25px;
}

#item{
    margin-inline: 10px;
    border-left: white;
    border: white;
}

.promociones{
    text-align:left;
    width:300px;
    background: #f4f4f4;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px #808080;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}


.mas_vendidos{
    text-align:left;
    width:100%;
    background: #f4f4f4;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px #808080;
    box-sizing: border-box;
    /*display:inline-block; alinear "a la par"*/
}

#titulo{
    text-align:center;
    color:white;
    width:93%;
    background: rgba(255, 73, 0, 1); /*color de fondo*/
    padding: 10px;
}


.caja{
    text-align:center;
    width:30%;
    margin:0 auto;
    background: #f4f4f4;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px #808080;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-inline: 10px;
    margin-block: 20px;
}

.caja img{
    width:80%;
}

.caja h3,
.caja p{
    text-align:left;
    padding: 5px 20px;
}

.redes_sociales img{
    width: 20px;
}

.estrellas img{
    width:10px;
}

.comentarios{
    font-size:0.7em;
    display: inline-block;
}

.pie_caja{
    display: inline-block;
}
 /*
footer{
    background:yellow ;
    width:100%;
    text-align: center;
} */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(240, 175, 0, 1);
    color: white;
    text-align: center;
  }

.pie_footer{
    display:inline-block;
    width:100%;
    background: rgba(9, 59, 182, 1); /*color de fondo*/
    border: 1px;
    padding-top: 10px;
}

#correo{
    display:inline-block;
    border-radius: 10px;
    margin-inline: 20px;
}

#suscribir{
    display:inline-block;
    margin-bottom: 10px;
    background: rgba(255, 76, 0, 1); /*color de fondo*/
    color:white; /*color de texto*/
    padding: 7px 30px;
    border: 1px;
}
.img_redes{
    margin-inline: 10px;
}

.redes_sociales_pie{
    margin-top: 20px;
}